<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TItile</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.17/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.6/css/select.dataTables.min.css">
    <link rel="stylesheet" href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css">
</head>
<body>
<table id="karyawan" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th></th>
        <th>Nama</th>
        <th>Email</th>
        <th>Alamat</th>
        <th>NO HP</th>
        <th>Jabatan</th>
        <!-- <th width="18%">Start date</th>
        <th>Salary</th> -->
    </tr>
    </thead>
</table>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.17/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.6/js/dataTables.select.min.js"></script>
<script type="text/javascript" src="{% static 'js/dataTables.editor.min.js' %}"></script>

<script>
    var editor; // use a global for the submit and return data rendering in the karyawans

    $(document).ready(function () {
        editor = new $.fn.dataTable.Editor({
            ajax: "{% url 'api_upd-karyawan' %}",
            table: "#karyawan",
            fields: [
                {
                    label: "Nama Lengkap:",
                    name: "nama"
                },
                {
                    label: "Email:",
                    name: "email"
                },
                {
                    label: "Alamat:",
                    name: "alamat"
                },
                {
                    label: "No Hp:",
                    name: "no_hp"
                },
                {
                    label: "Posisi",
                    name: "posisi"
                },
            ]
        });

        // Activate an inline edit on click of a table cell
        $('#karyawan').on('click', 'tbody td:not(:first-child)', function (e) {
            editor.inline(this);
        });

        $('#karyawan').DataTable({
            dom: "Bfrtip",
            ajax: "{% url 'api_get-karyawan' %}",
            order: [[1, 'asc']],
            columns: [
                {
                    data: null,
                    defaultContent: '',
                    className: 'select-checkbox',
                    orderable: false
                },
                {data: "nama"},
                {data: "email"},
                {data: "alamat"},
                {data: "no_hp"},
                {data: "posisi"},
            ],
            select: {
                style: 'os',
                selector: 'td:first-child'
            },
            buttons: [
                {extend: "create", editor: editor},
                {extend: "edit", editor: editor},
                {extend: "remove", editor: editor}
            ]
        });
    });
</script>
</body>
</html>