<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Halo</title>
</head>
<body>
	<div>
		ini adalah resep
		<br>
		<table border="1">
			<tr>
				<td>Nama</td>
				<td>Keterangan</td>
				<td>Kategori</td>
			</tr>
			{% for x in data %}
		    	<tr>
		    		<td>{{ x.menu_name }}</td>
		    		<td>{{ x.menu_desc }}</td>
		    		<td>{{ x.menu_kategori }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</body>
</html>